<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943383945116-r766qgruuuvpmhk7o266rhkohqovi8vd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943383945116-r766qgruuuvpmhk7o266rhkohqovi8vd</string>
	<key>API_KEY</key>
	<string>AIzaSyCAGkTZ4uW6murSgZcrRwPpd7aqYgKMxZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>943383945116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krystiangulas.instagramCloneCourse</string>
	<key>PROJECT_ID</key>
	<string>insta-va</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-va.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943383945116:ios:41f9f1017127ed9a92f259</string>
</dict>
</plist>